* {
  font-family: Consolas, "Courier New", monospace;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: 
    "main"
    "aside";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #090b10;
  color: #f0ffff;
  overflow-x: hidden;
}

@media (min-width: 600px) {
  body {
    grid-template-areas: "main aside";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
}

main {
  grid-area: main;
  font-size: 1.8rem;
  padding: 5%;
  display: grid;
  grid-template-rows: 5rem auto 5rem;
}

main section:first-child,
main section:last-child {
  justify-self: center;
  align-self: center;
  color: #f0ffff;
}

main button, 
main select {
  cursor: pointer;
  color: #f0ffff;
  background-color: #090b10;
  border: none;
}

main .control {
  display: flex;
  justify-content: space-around;
}

main .control button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 1px solid #2d324a;
  border-radius: 0;
  color: #f0ffff;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1.3rem;
  line-height: 1;
  margin: 0 1.7rem;
  padding: 0.6rem 1.3rem;
  text-align: center;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
}

main .control button::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 100%;
  background: #0f111a;
  z-index: -1;
  transition: width 150ms ease-in-out;
}

main .control button:hover::after {
  width: 110%;
}

aside {
  grid-area: aside;
  font-size: 1.5rem;
  color: #f0ffff;
  padding: 10%;
}

aside fieldset {
  border-color: #2d324a;
}

aside h1 {
  font-weight: normal;
}

#memory .table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 0 3rem 0;
}

#memory .table .row {
  display: flex;
  justify-content: space-evenly;
}

#memory .table .row:nth-child(2n) {
  color: #8287a0;
  background-color: #0f111a;
}

#memory .table .row:nth-child(2n+1) {
  border-bottom: 1px solid #2d324a;
}

#memory .table .column:first-child {
  border-left: 1px solid #2d324a;
}

#memory .table .column {
  border-right: 1px solid #2d324a;
  text-align: center;
  width: 100%;
  padding: 0.3rem;
}

#memory .table .column.selected::before {
  content: '> ';
}

#memory .table .column.selected::after {
  content: ' <';
}

#memory .table .heading,
.console h1 {
  margin: 0;
  padding: 0.8rem;
  border: 1px solid #2d324a;
  font-weight: normal;
  font-size: 1.5rem;
  text-align: left;
}

#iconsole > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.5rem 0.3rem 0.8rem;
  border-left: 1px solid #2d324a;
  border-right: 1px solid #2d324a;
}

#iconsole > div:nth-child(2n+1) {
  background-color: #0B0D13;
}

#iconsole > div > span:last-child {
  font-size: 1.2rem;
  color: #8287a0;
} 

#iconsole .error,
#iconsole .error span:last-child {
  color: #ff0000;
}

#iconsole .warning,
#iconsole .warning span:last-child {
  color: #ffcf33;
}

#iconsoleinput {
  display: block;
  background-color: #0f111a;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border: 1px solid #2d324a;
  box-sizing: border-box;
  color: #f0ffff;
  font-size: 1.5rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}
