* {
  font-family: Consolas, "Courier New", monospace;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: "main aside";
  grid-template-columns: 2fr 1fr;
  background-color: #090b10;
  overflow-x: hidden;
}

main {
  grid-area: main;
  font-size: 1.8rem;
  padding: 5%;
  display: grid;
  grid-template-rows: 5rem auto 5rem;
}

main section:first-child,
main section:last-child {
  justify-self: center;
  align-self: center;
  color: #f0f0f0;
}

main button, 
main select {
  cursor: pointer;
  color: #f0f0f0;
  background-color: #090b10;
  border: none;
}

main .code > div {
  height: 100%;
}

aside {
  grid-area: aside;
  font-size: 1.5rem;
  color: #f0f0f0;
  padding: 10%;
}

aside fieldset {
  border-color: #2d324a;
}

aside h1 {
  font-weight: normal;
}

#memory > * {
  margin: 3rem 0;
}

#memory > *:first-child {
  margin: 0 0 3rem 0;
}

#memory > *:last-child {
  margin: 3rem 0 0 0;
}

#memory .vectors td:nth-child(1) {
  text-align: right;
  padding-right: 0.5rem;
}

.console h1 {
  margin: 3rem 0 0 0;
  padding: 0.8rem;
  border: 1px solid #2d324a;
}

#iconsole .error {
  color: red;
}

#iconsole > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.5rem 0.3rem 0.8rem;
  border-left: 1px solid #2d324a;
  border-right: 1px solid #2d324a;
}

#iconsole > div:nth-child(2n+1) {
  background-color: #0B0D13;
}

#iconsole > div > span:last-child {
  font-size: 1.2rem;
} 

#iconsoleinput {
  display: block;
  background-color: #0f111a;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border: 1px solid #2d324a;
  box-sizing: border-box;
  color: #f0f0f0;
  font-size: 1.5rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}
