.tooltip {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 0.2rem;
}

.tooltip::before {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid #333333;
}

.tooltip-container {
  font-size: 2rem;
  background-color: #333333;
  color: #e5e5e5;
  padding: 0.6rem 0.8rem;
  border-radius: 0.8rem;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.8rem;
  z-index: 9;
}

.tooltip-container > span {
  cursor: pointer;
}